@media (max-width: 615px) {
    .navigation-wrapper {
        flex-direction: column;
        height: 100%;
    }
    
    .navigation-wrapper > .left-column {
        order: 2;
        margin-top: 10px;
        margin-bottom: 15px;
    }
    .navigation-wrapper > .center-column {
        order: 1;
        width: 100%;
        /* has a width because this contains the logo */
    }
    .navigation-wrapper > .right-column {
        order: 3;
        margin: 15px;
    }
    .links-wrapper {
        flex-direction: column;
        margin: 20px;
    }
    .links-wrapper > .nav-link {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 1.3em;
        width: 100%;   
    }
    .hero-section {
        padding: 50px 10px;
    }
    .feature-section {
        height: 100%;
    }
    .feature-section > .columns-wrapper {
        width: 100%;
        flex-direction: column;
    }
    .footer {
        height: 100%;
        width: 100%;
    }
    .skewed-header > .skewed-header-wrapper > .skewed-header-content {
        flex-direction: column;
    }
    .skewed-header > .header-bg {
        background-size: 570px; 
    }
    .content-wrapper > #chef {
        margin: 0px 0px 25px 0px !important;
        width: 100% !important;
    }
    .page-container {
        padding-left: 21px;
        padding-right: 21px;
    }
    .square {
        grid-template-columns: 1fr !important;
    }
    .square > .square-text-wrapper {
        order: 1;
    }
    .square > .img-wrapper {
        order: 2;
    }
    .square > .square-text-wrapper {
        line-height: 30px;
    }
    .contact-grid-wrapper {
        grid-template-columns: 1fr;
        width: 100%;
        grid-gap: 10px;
    }
    .contact-grid-wrapper > .contact-form > .contact-form-group input {
        padding: 1.5rem 0rem;
        
    }
    .contact-grid-wrapper > .contact-form > .contact-form-group textarea {
        padding: 1.5rem .5rem;
    }
}
