.button {
    color: #11122b;
    background-color: #cea125;
    font-size: 1.25em;
    padding: 10px 15px;
    border: 1px solid #cea125;
    border-radius: 2px;
    outline: none;
    transition: 0.3s;
}

.center-buttom-wrapper {
    display: flex;
    justify-content: center;
}

.button:active {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4)
}
